<div class="container">
  <div class="jumbotron">
    <app-header></app-header>

  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <app-todo-input></app-todo-input>
      <div style="margin-bottom:5px;"><label> 
        Search By Name :</label><input [(ngModel)]="searchQuery" (input)="filterData(searchQuery)" placeholder="Enter name term here" class="ui-inputtext ui-corner-all ui-widget" ></div>
      <div *ngFor="let todo of todoData">
        <app-todo-item [todo]="todo"></app-todo-item>
      </div>

    </div>
    <div class="col-sm-2"></div>

  </div>
  
</div>